
.wide-screen-label-cell {
    display: none;
    text-align: right;
  }
  .mobile-screen-label-cell label {
    font-size: 13px;
    font-weight: bold;
  }
 
body {
	font-family :Arial;
  
}
#map-layer {
	margin: 20px 0px;
	max-width: 600px;
	min-height: 400;
}
#btnAction {
	background: #3878c7;
    padding: 10px 40px;
    border: #3672bb 1px solid;
    border-radius: 2px;
    color: rgb(54, 238, 8);
    font-size: 0.9em;
    cursor:pointer;
    display:block;
}
#btnAction:disabled {
    background: #6c99d2;
}
.blackbox-form{
  color:black;
  font-weight: bold;
  font-size: 20px;
  
}
.box{
  background-color: #343a40;
}
.add{
  color: #899da0;
  background-color: #343a40;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 250px;
  position: relative;
}
.rifleSelect{
  color: #899da0;
    background-color: #343a40;
    border-radius: 10px;
    position: relative;
}
.rifleSelect:hover{
  color: #899da0;
    background-color: #dcf500;
    border-radius: 10px;
    position: relative;
}
.rifleSelect:focus{
  color: #899da0;
    background-color: #00f014;
    border-radius: 10px;
    position: relative;
}