h1 {
    position: relative;
    color: #ec0b0b;
    z-index: 2;
    margin: 0;
    padding: 0;
}
.locate {
    position: fixed;
    top: 62%;
    right: 1%;
    background: none;
    border: none;
    z-index: 10;
}
.login{
    color: #8097a0;
  }
  
  .calc{
    color: #899da0;
    background-color: #343a40;
    border-radius: 10px;
    position: relative;
}
.delete{
    color: #ffffff;
    background-color: #f70808;
    border-radius: 10px;
    position: relative;
}